source_up
source_env

# Instances #
############
## It covers `cluster` name and it's corresponding
## environment account in addition to the default transformers,
## we can create custom transformer configurations that fits our use-case
## for templating purpose

export cluster_name=slocluster001
export cluster_aws_account=staging
export cluster_cloud_provider=aws


# Common Tags #
############
## Labels transformer
## The labels transformer adds labels to the `metadata/labels` field for all resources. 
## It also adds labels to the `spec/selector` field in all Service resources as well as
## the `spec/selector/matchLabels` field in all Deployment resources.

export cluster_cc=pbe
export cluster_dept=Engineering
export cluster_region=us-east-1
export cluster_os=os
export cluster_encrypt=encrypted
export cluster_secapp=NA

# Packages #
############
## Name reference transformer's configuration contains a list of
## `nameReferences` for resources such as
## ConfigMap, Secret, Service, Role, and ServiceAccount.

export key1=val1
export keyN=valN



# Vault #
############
## Name reference transformer's configuration contains a list of
## `nameReferences` for resources such as
## ConfigMap, Secret, Service, Role, and ServiceAccount.

export vault_sa=vault-sa
export vault_role=arn:aws:iam::644712362974:role/node117-playbx-us-west-2

# #!/usr/bin/env zsh

# for line in $(cat ./clusters/staging/slocluster001/vars/cluster-config-map.env); do
#     eval "export $line"
# done

#GO
export GOPATH=~/go
export GOBIN=~/go/bin
export PATH=$PATH:$GOBIN